In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
from science import *

Version 0.0.4

In [3]:
import gzip

In [4]:
timeit(reset=True)

In [5]:
timeit()

'0.00 s'

# Parsing the GISS Data

https://data.giss.nasa.gov/gistemp/station_data_v4_globe/

In our analysis, we can only use stations with reasonably long, consistently measured time records. This is a subset of the full list of stations (v4.temperature.inv.txt). That subset of list of stations (station_list.txt) that contribute to the final products may slightly change with each update, as the number of stations that get dropped due to the shortness of their temperature record may decrease when new data are added. Notice that as part of the homogenization, all stations with less than 20 years of data are discarded (as seen in part (a) of the figure below).


The Brightness Index (BI) is used to categorize stations as rural or suburban. A station with a BI value equal to or less than ten is rural while greater than 10 is suburban.

In [6]:
subset_station_lines=station_lines=open('data/station_list.txt').readlines()
all_station_lines=open('data/v4.temperature.inv.txt').readlines()

In [7]:
with gzip.open('data/v4.mean_GISS_homogenized.txt.gz','rt') as fid:
    GISS_lines=fid.readlines()

In [8]:
station_lines[:10]  # first 10 lines

['ID          Station Name                         Lat        Lon   BI\n',
 'CIXLT572018 Isla Huafo                      -43.5300   -74.7500    0\n',
 'CA006075024 Mattice Tcpl                     49.6000   -83.1667    0\n',
 'MXXLT770246 Mazatan Mazatansmn               29.0000  -110.1100    0\n',
 'SWE00140886 Vittangi                         67.6800    21.6300    0\n',
 'USC00409502 Waynesboro                       35.3042   -87.7592    0\n',
 'MR000001498 Kiffa                            16.6300   -11.4000    0\n',
 'USW00094240 Quillayute State Ap              47.9375  -124.5550    0\n',
 'NON00008250 Koppangoyset                     61.6167    10.9000    0\n',
 'USC00086842 Panama City 5N                   30.2492   -85.6606   27\n']

In [9]:
all_station_lines[:10]

['ID           Lat       Lon     Elev-m Station Name                   BI\n',
 'ACW00011604  57.7667   11.8667   18.0 SAVE                           45     \n',
 'AE000041196  25.3330   55.5170   34.0 SHARJAH_INTER_AIRP             39     \n',
 'AEM00041184  25.6170   55.9330   31.0 RAS_AL_KHAIMAH_INTE            17     \n',
 'AEM00041194  25.2550   55.3640   10.4 DUBAI_INTL                     104     \n',
 'AEM00041216  24.4300   54.4700    3.0 ABU_DHABI_BATEEN_AIR           114     \n',
 'AEM00041217  24.4330   54.6510   26.8 ABU_DHABI_INTL                 39     \n',
 'AEM00041218  24.2620   55.6090  264.9 AL_AIN_INTL                    27     \n',
 'AF000040930  35.3170   69.0170 3366.0 NORTH_SALANG                   0     \n',
 'AFM00040911  36.7000   67.2000  378.0 MAZAR_I_SHARIF                 0     \n']

In [10]:
GISS_lines[:80]  # what are these numbers?

['ACW00011604  57.7667   11.8667   18.0 SAVE                           45\n',
 '1961   -79     246     482     783    1138    1609    1580    1491    1423    1184     520     -29\n',
 '1962   123      95    -144     645     918    1391    1520    1403    1173    1004     333    -116\n',
 '1963  -703    -543     -89     551    1234    1637    1630    1606    1342     950     576     -98\n',
 '1964    72     -75      65     748    1229    1452    1516    1567    1231     798     556     122\n',
 '1965    54     -95      48     600     997    1510    1497    1487    1387     984      41    -169\n',
 '1966  -428    -552     170     308    1144    1704    1682    1533    1257     865     391      64\n',
 '1967  -208      98     459     543    1114    1435    1717    1660    1380    1059     621     -34\n',
 '1968  -244    -121     282     776     997    1697    1634    1780    1393     843     242       6\n',
 '1969   -72    -432    -123     559    1024    1696    1749    1835    1441     994     383    -213\n',
 '1970  -421    -642     -13     323    1155    1786    1532    1671    1225     898     362     135\n',
 '1971    56     145      22     534    1242    1473    1762    1662    1227     970     423     445\n',
 '1972  -315      58     312     618    1179    1506    1840    1607    1135     859     543     466\n',
 '1973   123     231     515     534    1137    1607    1928    1641    1261     625     216      72\n',
 '1974   252     270     400     809    1155    1524    1559    1602    1380     646     489     396\n',
 '1975   407     149     259     549    1226    1544    1817    1967    1435     906     467     448\n',
 '1976  -102      -1     -74     563    1189    1522    1883    1820    1197     776     519    -144\n',
 '1977  -131    -218     295     393    1189    1627    1626    1617    1187    1010     482     223\n',
 '1978   116    -293     127     554    1216    1613    1625    1616    1122     993     761    -391\n',
 '1979  -545    -559     108     547    1066    1639    1557    1556    1302     720     485      33\n',
 '1980  -267    -427      38     597    1144    1607    1728    1575    1342     733     211     197\n',
 '1981   -98     -18     132     552    1342    1432    1652    1592    1392     852     452    -588\n',
 '1982  -548     -98     372     642    1092    1462    1862    1772    1412    1002     702     302\n',
 '1983   472    -178     342     752    1172    1502    1802    1692    1362     982     412     192\n',
 '1984    12      62     102     642    1292    1492    1682    1722    1132    1122     622     302\n',
 '1985  -668    -668     162     432    1262    1432    1682    1622    1152    1042     142      62\n',
 '1986  -308    -578     232     432    1222    1592    1682    1502    1052     952     742     162\n',
 '1987  -748     -48    -178     662     992    1252    1612    1452    1212     982     432     271\n',
 '1988   371     211     101     531    1371    1781    1741    1651    1441     761     221     221\n',
 '1989   574     534     584     674    1184    1574    1784    1544    1324     984     444     224\n',
 '1990   454     594     604     814    1234    1584    1674    1714    1214     954     394     284\n',
 '1991   234    -136     474     714    1034    1264   -9999   -9999    1374   -9999   -9999     404\n',
 '1992   304   -9999   -9999     594   -9999   -9999   -9999   -9999    1334     564     474   -9999\n',
 '1993 -9999     134   -9999   -9999   -9999   -9999   -9999   -9999    1074     764     274     174\n',
 '1994   174    -366     274     784    1214    1384    2084    1824    1284     774     574     433\n',
 '1995   -17     343     333     633    1033    1513    1813    1613    1333    1173     293    -177\n',
 '1996  -167    -336     107     687     967    1457    1587    1907    1097    1047     557    -193\n',
 '1997  -123     237     337     587    1027    1677    1887    2067    1447     677     397     187\n',
 '1998   257     487     307     677    1277    1437    1597   -9999   -9999   -9999   -9999   -9999\n',
 '1999 -9999   -9999   -9999   -9999   -9999    1497    1827    1697    1627     937     627     177\n',
 '2000   297     327     347     927    1367    1487    1667    1617    1307    1197     847     377\n',
 '2001   197    -103      77     617    1197    1397    1847    1737    1327    1227     487     -83\n',
 '2002   307     447     447     777    1417    1677    1857    2052    1457     582     282    -154\n',
 '2003  -118    -184     305     711    1206    1676    1900    1756    1446     556     610     366\n',
 '2004  -154     112     321     851    1266    1436    1626    1866    1381     911     426     421\n',
 '2005   341      26      51     751    1141    1471    1906    1691    1470    1046     646     201\n',
 '2006  -219     -89    -224     636    1236    1601    1995    1841    1720    1216     791     721\n',
 '2007   396     106     656     930    1236    1756    1791   -9999    1376     861     426     306\n',
 '2008   373     459     298     846    1347    1618    1926    1695    1326    1031     476     230\n',
 '2009    24    -184     336    1040   -9999    1556    1832    1790    1456     686     682     -45\n',
 '2010  -548    -349     190     719    1127    1534    1954    1722    1290     793     182    -615\n',
 '2011   -83    -132     278    1040    1213    1663    1875    1723    1466     987     721     428\n',
 '2012   121     -98     592     646    1365    1426    1771    1748    1362     826     620    -234\n',
 '2013  -104     -93     -48     595   -9999    1612    1855    1802    1359    1042     601   -9999\n',
 'AE000041196  25.3330   55.5170   34.0 SHARJAH_INTER_AIRP             39\n',
 '1933 -9999   -9999   -9999   -9999    3007    2997    3317    3597    3137    2907    2457    2147\n',
 '1934  1807    2057    2047    2647    2957    3217    3397    3427    3227    2897    2517    2274\n',
 '1935  1954    1994    2284    2444    2864    3324    3404    3544    3254    2944    2604    2242\n',
 '1936  1882    2092    2322    2612    3092    3102    3412    3522    3282    2852    2452    2120\n',
 '1937  1820    1940    2170    2580    3070    3150    3480    3550    3270    2970    2640    2137\n',
 '1938  2057    2067    2187    2477    2927    3137    3577    3507    3277    2867    2507    2215\n',
 '1939  2025    2045    2325    2435    2935    3115    3245    3445    3275    2945    2555    2122\n',
 '1940  1962    2162    2112    2572    2912    3222    3412    3482    3202    2962    2582    2130\n',
 '1941  1920    2060    2410    2690    2940    3280    3450    3410    3240    2980    2610    2218\n',
 '1942  1968    2108    2368    2608    2978    3268    3538    3528    3318    2988    2608    2175\n',
 '1943  1995    1975    2275    2615    2915    3095    3405    3565    3355    2865    2505    2313\n',
 '1944  2123    2013    2433    2680    2960    3315    3533    3576    3271    2962    2635    2113\n',
 '1945  1856    1936    2256    2626    2897    3229    3459    3364    3301    2931    2581    2118\n',
 '1946  1928    2038    2178    2708    2918    3088    3398    3558    3278    2928    2448    2076\n',
 '1947  2016    2016    2276    2656    2976    3166    3536   -9999   -9999   -9999   -9999   -9999\n',
 '1948  1933    2143    2373    2693    3083    3203   -9999   -9999   -9999   -9999   -9999   -9999\n',
 '1949 -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999   -9999    2701    2271    2099\n',
 '1950  1859    1709    2239    2509    2899    3059    3409    3349    3259    2859    2409    1986\n',
 '1951 -9999    1996    2166    2506    2966    3206    3506    3526    3266    2966    2416    2164\n',
 '1952  1854    2024    2354    2634    3014    3064    3394    3544    3214    2864    2484    2192\n',
 '1953  2092    2162    2382    2542    2882    3212    3462    3492    3312    2892    2482    2179\n',
 '1954  1939    2029    2359    2609    2929    3189    3549    3459    3239    2849    2549    2097\n',
 '1955  1995    1952    2366    2585    2888    3190    3492    3415    3245    2820    2500    2174\n',
 '1956  1857    2043    2641    2682    2731    3152    3560    3471    3226    2795    2389    2116\n',
 '1957  1947    1953    2283    2518    2815    3038    3351    3418    3202    2937    2537    2151\n']

First one is year, next ones are temperatures for the months, probably multiplied by 100

Fixed length strings on station list  :-(

In [11]:
header=station_lines[0].split('\t')
header

['ID          Station Name                         Lat        Lon   BI\n']

In [12]:
header=GISS_lines[0].split()
header

['ACW00011604', '57.7667', '11.8667', '18.0', 'SAVE', '45']

In [13]:
GISS_lines[-10:]

['1961  1970    1950    2009    1855    1695    1315    1245    1325    1790    2070    1955    2005\n',
 '1962  2040    2040    1905    1840    1320    1400   -9999   -9999   -9999   -9999   -9999   -9999\n',
 '1963 -9999   -9999   -9999   -9999   -9999    1269   -9999   -9999   -9999   -9999   -9999   -9999\n',
 '1964 -9999   -9999   -9999   -9999   -9999    1124   -9999   -9999   -9999   -9999   -9999   -9999\n',
 '1965 -9999   -9999   -9999   -9999   -9999    1153    1203    1423    1663    1843    2043    2222\n',
 '1966  2182    2042    1842    1692    1432    1282    1212    1462    1772    1982    2092    2112\n',
 '1967  2112    1992    1892    1922    1512    1352    1102    1382    1662    2082    1992    1911\n',
 '1968  2181    2001    1931    1821    1561    1081    1371    1631    1761    2181    1841    2071\n',
 '1969  2091    2151    1951    1831    1411    1311    1161    1461    1781    2101    2041    1910\n',
 '1970  2070    1990    1930    1720    1560    1330    1330    1540    2040    2030    2130    2150\n']

In [14]:
data=[]
station_data=None
earliest_year=2019

count=0
print("Starting...",end="")
for line in GISS_lines:
    
    # do all the IDs start with A?
    if not line[0] in '12': # this is a header line, not starting with a 1 or a 2
        
        if not station_data is None:   #save the old station
            station_data.time=array(station_data.time)
            station_data.temperature=array(station_data.temperature)
            data.append(station_data)
            count+=1
            if count%100==0:
                print(".",end="")
            if count%1000==0:
                print("O",end="")
        
        station_data=Struct()

        header=line.split()
        #print(header)
        station_data.ID=header[0]
        station_data.lat=float(header[1])
        station_data.long=float(header[2])
        station_data.elev=float(header[3])
        station_data.station=header[4]
        
        if header[5]=='*':
            station_data.brightness=header[6]
        else:
            station_data.brightness=header[5]
            
        station_data.time=[]
        station_data.temperature=[]
        
        assert (len(header)==6) or ((len(header)==7) and (header[5]=='*'))
    else:  # this is a line of data
        parts=line.split()
        year=int(parts[0])
        
        if year<earliest_year:
            earliest_year=year
            
        raw_temp=[int(part) for part in parts[1:]]
        
        for i,raw_T in enumerate(raw_temp):
            time=year+i/12  # change the month into a real number
            T=raw_T/100
            
            
            station_data.time.append(time)
            
            if raw_T==-9999:
                station_data.temperature.append(nan)
            else:
                station_data.temperature.append(T)
            
            
            
data.append(station_data)
print("done.")

Starting.............O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O....done.

In [15]:
earliest_year

1880

## Can I make it into a single data frame or perhaps two?  average over a year

In [16]:
len(station_lines)

20925

In [17]:
import pandas as pd

In [18]:
time_arr=arange(1880,2021)
temperature_arr=nan*ones(len(time_arr))

data={'time':time_arr}
info=Struct({'ID':[],
      'Station':[],
      'Latitude':[],
      'Longitude':[],
      'Brightness':[],
      'Elevation':[],
     })


station_data=None

count=0
print("Starting...",end="")
for line in GISS_lines:
    
    # do all the IDs start with A?
    if not line[0] in '12': # this is a header line, not starting with a 1 or a 2
        
        if not station_data is None:   #save the old station
            data[station_data.station]=temperature_arr
            temperature_arr=nan*ones(len(time_arr))

            info.ID.append(station_data.ID)
            info.Station.append(station_data.station)
            info.Latitude.append(station_data.lat)
            info.Longitude.append(station_data.long)
            info.Elevation.append(station_data.elev)
            info.Brightness.append(station_data.brightness)

            count+=1
            if count%100==0:
                print(".",end="")
            if count%1000==0:
                print("O",end="")
        
        station_data=Struct()

        header=line.split()
        #print(header)
        station_data.ID=header[0]
        station_data.lat=float(header[1])
        station_data.long=float(header[2])
        station_data.elev=float(header[3])
        
        if station_data.elev==9999.0:
            station_data.elev=nan

        
        station_data.station=header[4]
        
        if header[5]=='*':
            station_data.brightness=nan
        else:
            station_data.brightness=int(header[5])
            
        assert (len(header)==6) or ((len(header)==7) and (header[5]=='*'))
    else:  # this is a line of data
        parts=line.split()
        year=int(parts[0])
        
        raw_temp=[int(part) for part in parts[1:]]
        
        T=[]
        for i,raw_T in enumerate(raw_temp):
            time=year+i/12  # change the month into a real number
            
            if raw_T==-9999:
                T.append(nan)
            else:
                T.append(raw_T/100)
            
            
            
            
        idx=where(time_arr==year)[0][0]
        temperature_arr[idx]=nanmean(T)
            
            
data[station_data.station]=temperature_arr

info.ID.append(station_data.ID)
info.Station.append(station_data.station)
info.Latitude.append(station_data.lat)
info.Longitude.append(station_data.long)
info.Elevation.append(station_data.elev)
info.Brightness.append(station_data.brightness)



print("done.")

Starting.............O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O..........O....done.

In [19]:
info=pd.DataFrame(info)
data=pd.DataFrame(data)

In [20]:
info.head()

,ID,Station,Latitude,Longitude,Brightness,Elevation
0,ACW00011604,SAVE,57.7667,11.8667,45.0,18.0
1,AE000041196,SHARJAH_INTER_AIRP,25.3330,55.5170,39.0,34.0
2,AEM00041184,RAS_AL_KHAIMAH_INTE,25.6170,55.9330,17.0,31.0
3,AEM00041194,DUBAI_INTL,25.2550,55.3640,104.0,10.4
4,AEM00041216,ABU_DHABI_BATEEN_AIR,24.4300,54.4700,114.0,3.0

In [21]:
data.tail()

,time,SAVE,SHARJAH_INTER_AIRP,RAS_AL_KHAIMAH_INTE,DUBAI_INTL,ABU_DHABI_BATEEN_AIR,ABU_DHABI_INTL,AL_AIN_INTL,NORTH_SALANG,MAZAR_I_SHARIF,...,BULAWAYO_GOETZ_OBS,BULAWAYO_AIRPORT,WEST_NICHOLSON,MASVINGO,BUFFALO_RANGE,CHIPINGE,BEITBRIDGE,HARARE_BELVEDERE,GRAND_REEF,GWELO
136,2016,28.198333,27.810000,NaN,29.545833,NaN,NaN,28.935000,NaN,NaN,...,20.777273,NaN,NaN,20.6625,NaN,20.178333,NaN,NaN,NaN,NaN
137,2017,28.298333,28.335000,NaN,30.027500,NaN,31.6730,29.655000,NaN,NaN,...,18.564286,NaN,NaN,19.0200,NaN,NaN,NaN,NaN,NaN,NaN
138,2018,28.081667,28.904545,NaN,30.098182,NaN,29.7925,29.965455,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,2019,28.266667,28.251667,NaN,29.585833,NaN,29.4000,29.061667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,2020,29.550000,19.730000,NaN,21.280000,NaN,20.5750,19.460000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
info.to_excel("data/station_info.xlsx")

In [23]:
data.to_excel("data/station_temperature_data.xlsx")

ValueError: This sheet is too large! Your sheet size is: 141, 25863 Max sheet size is: 1048576, 16384

In [24]:
data.to_csv("data/station_temperature_data.csv.gz", compression='gzip')

In [ ]:
data2=pd.read_csv("station_temperature_data.csv.gz",index_col=False)

In [ ]:
data2.head()

In [ ]:
plot(data2['time'],data2['SAVE'],'-o')